body {
    font-family: 'Segoe UI', sans-serif;
}

.card {
    border: none;
}

input:focus {
    box-shadow: none !important;
    border-color: #4A5DF0 !important;
}

/* Mobile Style Enhancements */
@media (max-width: 767px) {
    .logo-mobile {
        display: block;
        margin-bottom: 20px;
    }
}
